@use "./setup/reset";
@use "./setup/normalize";
@use "./setup/mixins";
@use "./setup/layout";
@use "./setup/typography";
@use "./setup/icons";
@use "./setup/colors";
@use "./setup/variables";

// Hide scrollbar
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
